.weatherLocation {
    margin-top: 15px;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.slash {
    margin: 0 3px;
}

@media (max-width: 576px)  {
    .weatherLocation {
        font-size: 1.3rem;
    }

    .detailsTitle {
        font-size: 1.3rem;
    }

    .currentConditionsDetails {
        font-size: .8rem;
    }

    .currentCol {
        padding: 0 5px !important;
    }

    .forecastDetails {
        font-size: .7rem;
    }

    span {
        font-size: .75rem;
    }

    .forecastCol {
        padding: 0!important;
    }

}
