.weatherAPI {
    font-size: 1.0rem;
}

.App {
    max-width: 600px !important;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 576px) {
    .appTitle {
        font-size: 2rem;
    }

    .weatherAPI {
        font-size: .7rem;
    }
}
